# Variables d'environnement pour Mealie

# Base de données
{% if mealie_db_type == "postgres" %}
DB_ENGINE=postgres
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_DB={{ postgres_db }}
{% else %}
DB_ENGINE=sqlite
{% endif %}

# Configuration générale
ALLOW_SIGNUP={{ mealie_env.ALLOW_SIGNUP }}
PUID={{ mealie_env.PUID }}
PGID={{ mealie_env.PGID }}
TZ={{ mealie_env.TZ }}
MAX_WORKERS={{ mealie_env.MAX_WORKERS }}
WEB_CONCURRENCY={{ mealie_env.WEB_CONCURRENCY }}
BASE_URL={{ mealie_env.BASE_URL }}

# Configuration avancée
API_PORT=9000
AUTO_BACKUP_ENABLED=true
MAX_BACKUP_SIZE=25
DAILY_SCHEDULE_TIME=02:00

# Sécurité
TOKEN_TIME=720
SECURITY_MAX_LOGIN_ATTEMPTS=5
SECURITY_USER_LOCKOUT_TIME=24
